{% include 'templates/header.html.twig' %}
    <section>
        <div>
            <p>退会手続きが完了しました。</p>
            <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}index.php">トップページに戻る</a>
        </div>
    </section>
</body>
{% include 'templates/footer.html.twig' %}