<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{constant('shopping\\Bootstrap::APP_URL')}}css/shopping.css" type="text/css">
    <title>ログアウト成功</title>
</head>
<body>
    <h1>ログイン成功ページ</h1>
    <p>ログアウト成功</p>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}login.php">ログインページへ</a>
</body>
</html>