@use "../lib" as l;

.ly_detailAd {
  padding-top: 237px;
  padding-bottom: 120px;

  &_inner {
    @include l.center;
  }
}

@include l.break_sp {
  .ly_detailAd {
    padding-top: 237px;
    padding-bottom: 80px;
  }
}
