@use "../lib" as l;

.ly_listPage {
  padding-top: 110px;
  padding-bottom: 120px;

  &_inner {
    @include l.center;
  }
}
.ly_listPage2 {
  padding-top: 160px;
  padding-bottom: 120px;

  &_inner {
    @include l.center;
  }
}

@include l.break_sp {
  .ly_listPage {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
