@use "../lib" as l;

.ly_mypage {
  padding-top: 110px;
  padding-bottom: 120px;

  &_inner {
    @include l.center;
  }
}

@include l.break_sp {
  .ly_mypage {
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
